@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .center {
    @apply absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%];
  }

  .animation-btn {
    @apply bg-gradient-to-br from-secondary-color to-primary-color opacity-90 transition-all ease-in duration-200;
  }

  .overlay {
    @apply fixed top-0 left-0 w-screen h-screen bg-[rgba(0,0,0,.5)] z-50;
  }
}

html {
  scroll-behavior: smooth;
}

.active {
  font-weight: 700;
  color: #4661ea;
}

.active > li > div {
  display: inline-block !important;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}
