@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .center {
    @apply absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%];
  }

  .animation-btn {
    @apply bg-gradient-to-br from-secondary-color to-primary-color opacity-90 transition-all ease-in duration-200;
  }

  .overlay {
    @apply fixed top-0 left-0 w-screen h-screen bg-[rgba(0,0,0,.5)] z-50;
  }
}

html {
  scroll-behavior: smooth;
}

body.dark .active {
  color: #0f90f2;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #8b8b8b;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #606060;
}

body.dark::-webkit-scrollbar,
body.dark .scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

body.dark::-webkit-scrollbar-track,
body.dark .scrollbar::-webkit-scrollbar-track {
  background-color: #323741;
}

body.dark::-webkit-scrollbar-thumb,
body.dark .scrollbar::-webkit-scrollbar-thumb {
  background-color: #8b8b8b;
  border-radius: 10px;
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #606060;
}

.active {
  font-weight: 700;
  color: #4661ea;
}

.active > li > div {
  display: inline-block !important;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
